# Get from hanko.io after creating project
HANKO_API_URL=https://your-project-id.hanko.io
BUNNY_STORAGE_URL=https://storage.bunnycdn.com/public-monster

# Get from bunny.net dashboard
BUNNY_API_KEY=your-bunny-api-key

# Get from Arachnid Shield dashboard
ARACHNID_API_USERNAME=your-arachnid-api-username
ARACHNID_API_PASSWORD=your-arachnid-api-password

# For deployment
DOCKERHUB_USERNAME=your-dockerhub-username
DOCKERHUB_TOKEN=your-dockerhub-token
