# dependencies
node_modules/

# build artifacts
dist/
build/
.next/

# env files except example
.env
.env.local
.env.prod
!.env.example

# OS files
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp

# misc
*.tgz
*.tar
*.log
*.pid
*.seed
*.pid.lock
.aider*
